server:
  port: 8080

spring:
  application:
    name: biblioteca

  datasource:
    url: jdbc:postgresql://localhost:5432/libri_db
    username: libri_user
    password: libri_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug